.header-img{
  max-width:125px
}

.header{
  background-color:#333;
  padding-top:0.5%;
  text-align:center;
}

#nav li::after{
  content: '|';
  padding: 0px 10px 0px 10px;
  font-size:20px;
}

#nav{
  margin-top:5px;
  text-align:center;
  justify-content: center;
}

.navbar-link{
  color:#CCCCCC;
  text-decoration:none;
}

.navbar-link:hover{
  text-decoration:underline;
  color:#CCCCCC;
}

.nav-item{
  color:#CCCCCC;
  font-size:14px;
  font-family:'Roboto', sans-serif;
  text-transform: uppercase;
  padding-bottom:10px;
}

.foundation{
  background-color:#026e00;
  padding-left:10px;
  margin-left:8px;
}

.foundation::after{
  content: '' !important;
  padding-right: 0px !important;
}

.main-container{
  padding-top:2%;
}

.main-body{
  text-align:center;
  max-width:775px;
  display:block;
  margin:auto;
}

.body-paragraph{
  font-size:20px;
  font-family:'Source Sans Pro', sans-serif;
  margin-bottom:40px;
}

.body-banner{
  background-color:#EBF5EA;
  border-radius:2px;
  padding-top:3px;
  padding-bottom:0px;
  margin-bottom:5%;
}

.banner-paragraph{
  color:#026e00;
  font-size:26px;
  padding-bottom:4px;
}

.banner-link{
  text-decoration:none;
  color:#026e00;
}

.banner-link:hover{
  text-decoration:none;
  background-color:#026e00;
  color:#ffffff;
  border-radius:2px;
  padding-left: 2px;
  padding-right:2px;
}

.download-title{
  font-size:28px;
  font-family:'Source Sans Pro', sans-serif;
  font-weight:400;
}

.buttons{
  justify-content:center;
}

.button-link{
  color:white;
  text-decoration:none;
  line-height:1em;
  display: inline-block;
  width: 250px !important;
  margin: 10px 0px 10px -10px;
  padding: .2em 1em;
  background-color: #026e00;
  color: #fff !important;
  border-radius: 2px;
  font-size: 2em;
  font-weight: 400;
  transition: 0.5s;
}

.button-link:hover{
  color:white;
  text-decoration:none;
  background-color:#43853d;
}

.subtext{
  font-size:0.8rem;
}
